body
{
    color: blueviolet;
    text-align:  center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#container
{
    width: 68%;
    padding: 1em;
    text-align: left;
    border: 2px solid cornsilk;
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;
}