body
{
    color: rgb(99, 93, 105);
    text-align:  center;
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(201, 209, 126);
    color: whitesmoke;
    margin: 0;
    padding: 0, 5em;
}

#container
{
    width: 68%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(53, 10, 170);
    margin: 0 auto;
}

#container h1
{
    font-size: 25px;
}